APP_NAME=TaskEngine
ENV=dev


DATABASE_URL=postgresql://username:password@localhost:5432/taskengine
JWT_SECRET_KEY=your-secret-key
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXP_MINUTES=15
JWT_REFRESH_TOKEN_EXP_DAYS=7
REFRESH_TOKEN_PEPPER=your-refresh-token-pepper